@model Uspelite.Web.Areas.Administration.Models.Users.UserViewModel

<div>
    @Html.LabelFor(x => x.FullName)
    @Html.EditorFor(x => x.FullName)
</div>
<div>
    @Html.LabelFor(x => x.Username)
    @Html.EditorFor(x => x.Username)
</div>
<div>
    @Html.LabelFor(x => x.Email)
    @Html.EditorFor(x => x.Email)
</div>

<div>
    @Html.LabelFor(x => x.Password)
    @Html.EditorFor(x => x.Password)
</div>

