@model Uspelite.Web.Models.Account.Manage.IndexViewModel
@{
    ViewBag.Title = "My account";
}

<div id="profile-wrapper">

    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <br/>

    @Ajax.ActionLink("Update profile", "GetEditPartial", "Manage", Model.User, new AjaxOptions
                                                                               {
                                                                                   InsertionMode = InsertionMode.Replace,
                                                                                   HttpMethod = "GET",
                                                                                   UpdateTargetId = "user-information"
                                                                               }, new {@class = "btn btn-success"})


    <div class="author-box">
        @if (Model.User.ProfileImage != null)
        {
            @Html.Image(x => Model.User.ProfileImage.Resized400Picture, Model.User.FullName + " profile picture", "115", "115", new { @class = "img-circle" })
        }
        <div id="user-information">
            <a href="/Authors/Info/@Model.User.Id/@Model.User.FullName" class="name">@Model.User.FullName</a>
            <p>@Model.User.ShortInfo</p>
        </div>

        <p>
            <a href=""><i class="fa fa-twitter fa-lg"></i></a>
            <a href=""><i class="fa fa-facebook-square fa-lg"></i></a>
            <a href=""><i class="fa fa-linkedin-square fa-lg"></i></a>
            <a href=""><i class="fa fa-google-plus-square fa-lg"></i></a>
            <a href=""><i class="fa fa-vimeo-square fa-lg"></i></a>
        </p>
    </div>

    <div>
        <h4>Settings</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                @Html.ActionLink("Change your password", "ChangePassword")
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Html.ActionLink("Manage", "ManageLogins")
            </dd>
        </dl>
    </div>
</div>


@section scripts {

    <script>
        $(function() {
            var $mainImageContainer = $('#author-image');

            //main image crop and visualize
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $mainImageContainer.attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('#upload-image').change(function () {
                debugger;
                readURL(this);
            });
        });
        
    </script>
}