
@model IEnumerable<Uspelite.Services.Data.DTO.RssDTO>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <strong>Title: @item.Title</strong><br />
            <strong><img src="@item.ImageUrl" alt="Image" /></strong><br />
            <strong>Link: <a href="@item.Link">Go to article</a></strong><br />
            <strong>Date: @item.Date</strong><br />
            <strong>Description: @item.Description</strong>
        </div>
        <br />
    }
</div>