@model Uspelite.Web.Models.Categories.PageableCategoryArticlesViewModel


@section sidebar{
    @(Html.Action<ChildActionsController>(x => x.GetSideBar()))
}

<div class="col-md-12 separator-right">

    @*<article class="linkbox large cat-showtime">
        <a href="/Articles/@Model.TopArticle.Slug">
            @Html.Image(x => Model.TopArticle.MainArticlePic.Resized400Picture, "Alt responsive picture", "560", "390", new { @class = "img-responsive" })
            <div class="overlay">
                <h2>@Model.TopArticle.Title</h2>
            </div>
        </a>
        <a href="/Categories/Show/@Model.TopArticle.Category" class="theme">@Model.TopArticle.Category</a>
    </article>*@


    @{ int counter = 1; }

    <div class="row">
        @foreach (var mod in Model.Articles)
        {
            <!-- start:col -->
            <div class="col-sm-6">
                <!-- start:article.linkbox -->
                <article class="linkbox cat-showtime">
                    <a href="/Articles/Show/@mod.Slug">
                        @Html.Image(x => mod.MainArticlePic.Resized400Picture, "Alt responsive picture", "265", "160", new { @class = "img-responsive" })
                        <div class="overlay">
                            <h3>@mod.Title</h3>
                        </div>
                    </a>
                    <a href="/Categories/Show/@mod.Category" class="theme">@mod.Category</a>
                </article>
                <!-- end:article.linkbox -->
            </div>
            <!-- end:col -->

            if (counter%2 == 0)
            {
                @: </div>
                if (counter % 6 == 0)
                {
                    <div class="ad bottom-margin">
                        <a href=""><img src="~/Content/Theme/images/dummy/banner_560x100.png" width="560" height="100" alt=""></a>
                    </div>
                }
                @:<div class="row">
            }
            counter += 1;
        }

    </div>

    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage != 1)
            {
                <li>
                    <a href="/Categories/Show?slug=@Model.Slug&page=@(Model.CurrentPage - 1)&pageSize=@Model.PageSize" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i < Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className">@Html.ActionLink(i.ToString(), "Show", "Categories", new {slug = Model.Slug, page = i, pageSize = Model.PageSize}, null)</li>
            }
            @if (Model.CurrentPage != Model.TotalPages)
            {
                <li>
                    <a href="/Categories/Show?slug=@Model.Slug&page=@(Model.CurrentPage + 1)&pageSize=@Model.PageSize" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }

        </ul>
    </nav>

    @*<!-- start:load-more -->
    <div class="text-center">
        <a href="#" class="show-more cat-showtime" title="Show More News">Show More News</a>
    </div>
    <!-- end:load-more -->*@

</div>