@model Dictionary<Uspelite.Web.Models.Categories.CategoryViewModel, Dictionary<Uspelite.Web.Models.Categories.CategoryViewModel, IEnumerable<Uspelite.Web.Models.Articles.ArticleViewModel>>>



<div class="container">
    <!-- start:menu -->
    <nav id="menu" class="both">
        <ul class="nav clearfix">

            @foreach (var mod in Model)
            {
                var chosenClassName = "current";

                <li class="cat-news">
                    <a href="/Categories/Show/@mod.Key.Slug">@mod.Key.Title</a>
                    <!-- start:submenu-news -->
                    <div class="subnav-container">
                        <ul class="subnav-menu">

                            @foreach (var category in mod.Value)
                            {
                                <li class="@chosenClassName">
                                    <a href="/Categories/Show/@category.Key.Slug">@category.Key.Title</a>
                                    <div class="subnav-posts">
                                        @foreach (var art in category.Value)
                                        {
                                            <article>
                                                <a href="/@art.Slug"><img src="/@art.MainArticlePic.Resized400Picture" width="190" height="140" alt=""></a>
                                                <h3>
                                                    <a href="/@art.Slug">@art.Title</a>
                                                </h3>
                                            </article>
                                        }
                                    </div>
                                </li>
                                @(chosenClassName = "")
                            }
                        </ul>
                    </div>
                    <!-- end:submenu-news -->
                </li>
            }
        </ul>
    </nav>
</div>
