@model Dictionary<Uspelite.Web.Models.Categories.CategoryViewModel, Dictionary<Uspelite.Web.Models.Categories.CategoryViewModel, IEnumerable<Uspelite.Web.Models.Articles.ArticleViewModel>>>



<div class="container">
    <!-- start:menu -->
    <nav id="menu" class="both">
        <ul class="nav clearfix">

            @{
                var availableNavClasses = new string[] { "cat-news", "cat-interview", "cat-society", "cat-business", "cat-sports", "cat-culture", "cat-personal" };
                var counter = 0;
            }


            @foreach (var mod in Model)
            {
                var chosenClassName = "current";
                var currentClassName = availableNavClasses[counter % (availableNavClasses.Length)];

                <li class="cat-news @currentClassName">
                    <a href="/Categories/Show/@mod.Key.Slug">@mod.Key.Title</a>
                    <!-- start:submenu-news -->
                    <div class="subnav-container">
                        <ul class="subnav-menu">

                            @foreach (var category in mod.Value)
                            {
                                <li class="@chosenClassName">
                                    <a href="/Categories/Show/@category.Key.Slug">@category.Key.Title</a>
                                    <div class="subnav-posts">
                                        @foreach (var art in category.Value)
                                        {
                                            <article>
                                                <a href="/@art.Slug"><img src="/@art.MainArticlePic.Resized400Picture" width="190" height="140" alt=""></a>
                                                <h3>
                                                    <a href="/@art.Slug">@art.Title.Substring(0, art.Title.Length - 1 > 65 ? 65 : art.Title.Length - 1) ...</a>
                                                </h3>
                                            </article>
                                        }
                                    </div>
                                </li>
                                @(chosenClassName = "")
                                counter++;
                            }
                        </ul>
                    </div>
                    <!-- end:submenu-news -->
                </li>
            }

            <li class="cat-news">
                <a href="">Други</a>
                <div class="dropnav-container">
                    <ul class="dropnav-menu">
                        <li>@Html.ActionLink("Снимки", "Gallery", "Images")</li>
                        <li>@Html.ActionLink("Видео", "Index", "Videos")</li>
                        @*<li>@Html.ActionLink("Излъчване на живо", "Index", "Live")</li>*@
                    </ul>
                </div>
            <li />
        </ul>
</nav>
</div>
