@model IEnumerable<Uspelite.Web.Models.ChildActions.CategoryAndPostsViewModel>

<div class="container">

    <!-- start:menu -->
    <nav id="menu">
        <ul class="nav clearfix">
            <li class="home"><a href="~/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="cat-news">
                <a href="">Новини</a>
                <!-- start:submenu-news -->
                <div class="subnav-container">
                    <ul class="subnav-menu">

                        @foreach (var mod in Model)
                        {
                            <li class="current">
                                <a href="/Categories/Show/@mod.CategoryName">@mod.CategoryName</a>
                                <div class="subnav-posts">
                                    @foreach (var post in mod.Posts)
                                    {
                                        <article>
                                            <a href="/Articles/Show/@post.Slug"><img src="/@post.MainArticlePic.Resized400Picture" width="190" height="140" alt=""></a>
                                            <h3>
                                                <a href="/Articles/Show/@post.Slug">@post.Title</a>
                                            </h3>
                                        </article>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- end:submenu-news -->
            </li>

            <li class="cat-sports">
                @Html.ActionLink("Галерия", "Gallery", "Images")
                <!-- start:submenu-extra -->
                <div class="dropnav-container">
                    <ul class="dropnav-menu">
                        <li>@Html.ActionLink("Снимки", "Gallery", "Images")</li>
                        <li>@Html.ActionLink("Видео", "Index", "Videos")</li>
                    </ul>
                </div>
                <!-- end:submenu-extra -->
            </li>
            <li class="cat-showtime">
                @Html.ActionLink("Излъчване на живо", "Index", "Live")
            </li>
            @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
        </ul>
    </nav>
    <!-- end:menu -->
</div>
<!-- end:container -->