@using System.Globalization
@model IList<Uspelite.Web.Models.ChildActions.CategoryAndPostsViewModel>


<div id="page-slider" class="slider-layout-1 clearfix">

    <!-- start:container -->
    <div class="container">

        <!-- start:carousel -->
        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 452px; margin: 0px; overflow: hidden; cursor: move;">
            <div id="slider-carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 8190px; height: 452px;">

                @for (int i = 0; i < Model.Count(); i++)
                {
                    var category = Model[i].CategoryName;

                    <div class="row" style="width: 1200px;">

                        @{ bool isMainPost = true; }
                        <!--Should be exactly 4 posts-->
                        @foreach (var post in Model[i].Posts)  
                        {
                            if(isMainPost)
                            {
                                @:<div class="col-sm-8">
                            }
                            else
                            {
                                @:<div class="col-sm-4">
                            }

                            <article class="linkbox large has-meta cat-sports">
                                <a href="#">
                                    @if (isMainPost)
                                    {
                                        @Html.Image(x => post.MainPicture.Url, "Alt responsive picture", "819", "452", new { @class = "img-responsive" })
                                    }
                                    else
                                    {
                                        @Html.Image(x => post.MainPicture.Url, "Alt responsive picture", "560", "390", new { @class = "img-responsive" })
                                    }
                                   
                                    <div class="overlay">
                                        @if (isMainPost)
                                        {
                                            <h2>@post.Title</h2>
                                            <p>@post.PartialContent</p>
                                        }
                                        else
                                        {
                                            <h3>@post.Title</h3>
                                        }
                                    </div>
                                </a>
                                <a href="#" class="theme">@category</a>
                                <div class="postmeta">
                                    <span class="fa-calendar" itemprop="dateCreated">@post.CreatedOn.ToString("MMMM dd yyyy", CultureInfo.InvariantCulture)</span>
                                    <span class="fa-comments"><a href="#">@post.LikesCount</a></span> <!--CommentsCount should be here-->
                                    <span class="icon fa-eye">@post.Rating</span>  <!--ViewsCount should be here-->
                                </div>
                            </article>

                            isMainPost = false;
                          @:</div>
                        }
                    </div>
                }

            </div>
        </div>
        <div class="slider-nav">
            <a id="slider-prev" class="prev" href="#" style="display: block;"><i class="fa fa-chevron-left"></i></a>
            <a id="slider-next" class="next" href="#" style="display: block;"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>

</div>