@using System.Globalization
@model Uspelite.Web.Models.ChildActions.SliderViewModel

<div class="container featured-articles">

    <div class="row" style="">
        <div class="col-sm-8">
            <article class="linkbox large has-meta cat-sports">
                <a href="/@Model.NavCenter.Slug">
                                @Html.Image(x => Model.NavCenter.MainArticlePic.OriginalSizedPicture, "Alt responsive picture", "819", "452", new { @class = "img-responsive" })
                                <div class="overlay">
                                    <h2 class="cuprum-regular">@Model.NavCenter.Title</h2>
                                    <p class="cuprum-regular">@Html.Raw(Model.NavCenter.SanitizedPartialContent)</p>
                                </div>
                            </a>
                <a href="/Categories/Show/@Model.NavCenter.Category.Slug" class="theme cuprum-regular">@Model.NavCenter.Category.Title</a>
            </article>

        </div>
        <div class="col-sm-4">

            <article class="linkbox has-meta cat-sports">
                <a href="/@Model.NavRightTop.Slug">
                                @Html.Image(x => Model.NavRightTop.MainArticlePic.Resized400Picture, "Alt responsive picture", "450", "390", new { @class = "img-responsive slider-small-article" })
                                <div class="overlay">
                                    <h3 class="cuprum-regular">@Model.NavRightTop.Title</h3>
                                </div>
                            </a>
                <a href="/Categories/Show/@Model.NavRightTop.Category.Slug" class="theme cuprum-regular">@Model.NavRightTop.Category.Title</a>

            </article>

            <article class="linkbox has-meta cat-sports">
                <a href="/@Model.NavRightBottom.Slug">
                                @Html.Image(x => Model.NavRightBottom.MainArticlePic.Resized400Picture, "Alt responsive picture", "450", "390", new { @class = "img-responsive slider-small-article" })
                                <div class="overlay">
                                    <h3>@Model.NavRightBottom.Title</h3>
                                </div>
                            </a>
                <a href="/Categories/Show/@Model.NavRightBottom.Category.Slug" class="theme cuprum-regular">@Model.NavRightBottom.Category.Title</a>

            </article>


        </div>
    </div>
</div>