@using System.Globalization
@model Uspelite.Web.Models.ChildActions.SliderViewModel


<div id="page-slider" class="slider-layout-1 clearfix">

    <!-- start:container -->
    <div class="container">

        <!-- start:carousel -->
        <div id="slider-wrapper" class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1170px; height: 452px; margin: 0px; overflow: hidden; cursor: move;">
            <div id="slider-carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 8190px; height: 452px;">

                <!-- start:row -->
                <div class="row" style="width: 780px;">
                    <div class="col-sm-8">
                        <article class="linkbox large has-meta cat-sports">
                            <a href="/@Model.NavCenter.Slug">
                                @Html.Image(x => Model.NavCenter.MainArticlePic.OriginalSizedPicture, "Alt responsive picture", "819", "452", new { @class = "img-responsive" })
                                <div class="overlay">
                                    <h2 class="cuprum-regular">@Model.NavCenter.Title</h2>
                                    <p class="cuprum-regular">@Html.Raw(Model.NavCenter.SanitizedPartialContent)</p>
                                </div>
                            </a>
                            <a href="/Categories/Show/@Model.NavCenter.Category.Slug" class="theme cuprum-regular">@Model.NavCenter.Category.Title</a>
                        </article>

                    </div>
                    <div class="col-sm-4">

                        <article class="linkbox has-meta cat-sports">
                            <a href="/@Model.NavRightTop.Slug">
                                @Html.Image(x => Model.NavRightTop.MainArticlePic.Resized400Picture, "Alt responsive picture", "450", "390", new { @class = "img-responsive slider-small-article" })
                                <div class="overlay">
                                    <h3 class="cuprum-regular">@Model.NavRightTop.Title</h3>
                                </div>
                            </a>
                            <a href="/Categories/Show/@Model.NavRightTop.Category.Slug" class="theme cuprum-regular">@Model.NavRightTop.Category.Title</a>
                           
                        </article>

                        <article class="linkbox has-meta cat-sports">
                            <a href="/@Model.NavRightCenter.Slug">
                                @Html.Image(x => Model.NavRightCenter.MainArticlePic.Resized400Picture, "Alt responsive picture", "450", "390", new { @class = "img-responsive slider-small-article" })
                                <div class="overlay">
                                    <h3 class="cuprum-regular">@Model.NavRightCenter.Title</h3>
                                </div>
                            </a>
                            <a href="/Categories/Show/@Model.NavRightCenter.Category.Slug" class="theme cuprum-regular">@Model.NavRightCenter.Category.Title</a>
                            
                        </article>

                        <article class="linkbox has-meta cat-sports">
                            <a href="/@Model.NavRightBottom.Slug">
                                @Html.Image(x => Model.NavRightBottom.MainArticlePic.Resized400Picture, "Alt responsive picture", "450", "390", new { @class = "img-responsive slider-small-article" })
                                <div class="overlay">
                                    <h3>@Model.NavRightBottom.Title</h3>
                                </div>
                            </a>
                            <a href="/Categories/Show/@Model.NavRightBottom.Category.Slug" class="theme cuprum-regular">@Model.NavRightBottom.Category.Title</a>
                           
                        </article>
                    </div>
                </div>
                <!-- end:row -->

            </div>
        </div>
        <!-- end:slider-carousel -->
        <!-- start:slider-nav -->
        <div class="slider-nav">
            @*<a id="slider-prev" class="prev" href="#" style="display: block;"><i class="fa fa-chevron-left"></i></a>
            <a id="slider-next" class="next" href="#" style="display: block;"><i class="fa fa-chevron-right"></i></a>*@
        </div>
        <!-- end:slider-nav -->
    </div>
    <!-- end:container -->

</div>