@using System.Globalization
@model Uspelite.Web.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Home";
}

@section slider{
    @(Html.Action<ChildActionsController>(x => x.GetSlider()))
}

@section sidebar{
    @(Html.Action<ChildActionsController>(x => x.GetSideBar()))
}

<div class="row">
    <div class="col-md-9 separator-right">
        <article class="linkbox large cat-news">
            <a href="#">
                @Html.Image(x => Model.TopArticle.MainPicture.Url, "Alt responsive picture", "560", "390", new { @class = "img-responsive" })
                <div class="overlay">
                    <h2>@Model.TopArticle.Title</h2>
                </div>
            </a>
            <a href="#" class="theme">@Model.TopArticle.Category</a>
        </article>


        @{ int linesCounter = 0; }

        @foreach (var post in Model.NewestPosts)
        {
            if (linesCounter % 2 == 0)
            {
                @:<div class="row">
            }
            <div class="col-sm-6">
                <article class="linkbox cat-sports">
                    <a href="#">
                        @Html.Image(x => post.MainPicture.Url, "Alt responsive picture", "265", "160", new { @class = "img-responsive" })

                        <div class="overlay">
                            <h3>@post.Title</h3>
                        </div>
                    </a>
                    <a href="#" class="theme">
                        @post.Category
                    </a>
                </article>
            </div>
            if (linesCounter % 2 != 0)
            {
                @: </div>
            }

            linesCounter++;
        }

        <section class="section-full cat-videos no-padding">
            <div class="row">
                <div class="col-sm-8">

                    <article class="linkbox cat-showtime">
                        <a href="#">
                            @Html.Image(x => Model.TopArticle.MainPicture.Url, "Alt responsive picture", "334", "301", new { @class = "img-responsive" })
                            <div class="overlay">
                                <h2>@Model.TopArticle.Title</h2>
                            </div>
                        </a>
                        <a href="#" class="theme">@Model.TopArticle.Category</a>
                    </article>

                </div>

                <div class="col-sm-4">
                    @for (int i = 0; i < 2; i++)
                    {
                        var current = Model.HighRatedPosts[i];
                        <article class="linkbox cat-showtime">
                            <a href="#">
                                @Html.Image(x => current.MainPicture.Url, "Alt responsive picture", "274", "150", new { @class = "img-responsive" })
                                <div class="overlay">
                                    <h3>@current.PartialContent</h3>
                                </div>
                            </a>
                            <a href="#" class="theme">@current.Category</a>
                        </article>
                    }
                </div>
            </div>
        </section>

    <section class="section-full top-padding cat-reviews news-layout news-lay-2">
            <header>
                <h2>Check out our latest reviews</h2>
                <span class="borderline"></span>
            </header>

            <div class="row">
            @for (int i = 0; i < 4; i++)
            {
                var current = Model.MostCommentedPosts[i];

                    <div class="col-xs-6 col-sm-3">
                        <article class="review">
                            <a href="#">
                                @Html.Image(x => current.MainPicture.Url, "Alt responsive picture", "120", "105", new { @class = "img-responsive" })
                                <h3>@current.Title</h3>
                            </a>
                            <div class="review-rating">
                                <ul class="rating">
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        if (current.Rating > j)
                                        {
                                            <li class="li-rated"></li>
                                        }
                                        else
                                        {
                                            <li></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </section>

        <div class="row top-margin">
            <div class="col-sm-6">
                <section class="section-lifestyle news-layout">
                    <header>
                        <h2>
                            <a href="#">Lifestyle</a>
                        </h2>
                        <span class="borderline"></span>
                    </header>

                    @foreach (var post in Model.HighRatedInCategory)
                    {
                        <article class="clearfix">
                            <h3><a href="#">@post.Title</a></h3>

                            <a href="#">@Html.Image(x => post.MainPicture.Url, "Alt responsive picture", "100", "80")</a>
                            <span class="text">@post.PartialContent</span>
                            <span class="published">@post.CreatedOn.ToString("MMMM dd yyyy", CultureInfo.InvariantCulture)</span>
                        </article>
                    }
                </section>
            </div>



            <div class="col-sm-6">
                <section class="section-tech news-layout">

                    <header>
                        <h2><a href="#">Tech</a></h2>
                        <span class="borderline"></span>
                    </header>

                    @foreach (var post in Model.HighRatedInCategory)
                    {
                        <article class="clearfix">
                            <h3><a href="#">@post.Title</a></h3>
                           
                            <a href="#">@Html.Image(x => post.MainPicture.Url, "Alt responsive picture", "100", "80")</a>
                            <span class="text">@post.PartialContent</span>
                            <span class="published">@post.CreatedOn.ToString("MMMM dd yyyy", CultureInfo.InvariantCulture)</span>
                        </article>
                    }
                </section>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <section class="section-news news-layout">
            <header>
                <h2><a href="#">Latest news</a></h2>
                <span class="borderline"></span>
            </header>
            <div class="row">
                @foreach (var post in Model.HighRatedPosts)
                {
                    <div class="col-xs-4 col-sm-12">
                        <article>
                            <h3><a href="#">@post.Title</a></h3>
                            <span class="text">@post.PartialContent</span>
                            <span class="published">@post.CreatedOn.ToString("MMMM dd yyyy", CultureInfo.InvariantCulture)</span>
                        </article>
                    </div>
                }
            </div>
        </section>


        <div class="ad">
            <a href=""><img src="~/Content/Theme/images/dummy/banner_160x600.png" width="160" height="600" alt=""></a>
        </div>

        <section class="news-layout">
            <header>
                <h2>Most commented</h2>
                <span class="borderline"></span>
            </header>
            <div class="row">
                @foreach (var post in Model.MostCommentedPosts)
                {
                    <div class="col-xs-4 col-sm-12">
                        <article>
                            <h3><a href="#">@post.Title</a></h3>
                            <span class="text">@post.PartialContent</span>
                            <span class="published">@post.CreatedOn.ToString("MMMM dd yyyy", CultureInfo.InvariantCulture)</span>
                        </article>
                    </div>
                }
            </div>
        </section>
    </div>
</div>