@model Uspelite.Web.Models.Home.HomeIndexViewModel

@if (!Model.IsSearchResult)
{
    @section slider{
        @(Html.Action<ChildActionsController>(x => x.GetSlider()))
    }
}

@section sidebar{
    @(Html.Action<ChildActionsController>(x => x.GetSideBar()))
}

<div class="row">
    <div class="col-md-9 home-main-column">

        @if (Model.CurrentPage == 1)
        {
            if (Model.NewestArticles != null && Model.NewestArticles.Count >= 5)
            {
                <div class="row">
                    @for (int i = 0; i < 5; i++)
                    {
                        var currentArticle = Model.NewestArticles[i];
                        if (i == 0)
                        {
                            //large article
                            <article class="linkbox large cat-news">
                                <a href="~/@currentArticle.Slug" class="cuprum-regular">
                                    @Html.Image(x => currentArticle.MainArticlePic.Resized400Picture, "Alt responsive picture", "560", "300", new { @class = "img-responsive" })
                                    <div class="overlay">
                                        <h2 class="cuprum-regular">@currentArticle.Title</h2>
                                    </div>
                                </a>
                                <a href="/" class="theme cuprum-regular">НАЙ-НОВИ</a>
                            </article>
                        }
                        else
                        {
                            <div class="col-sm-6 small-articles">
                                <article class="linkbox cat-sports">
                                    <a href="~/@currentArticle.Slug" class="cuprum-regular">
                                        @Html.Image(x => currentArticle.MainArticlePic.Resized400Picture, "Alt responsive picture", "265", "160", new { @class = "img-responsive" })

                                        <div class="overlay">
                                            <h3 class="cuprum-regular">@currentArticle.Title</h3>
                                        </div>
                                    </a>
                                    <a href="/" class="theme cuprum-regular">НАЙ-НОВИ</a>
                                </article>

                            </div>
                        }
                    }
                </div>
            }
        }


        @{ int linesCounter = 0; }

        @if (Model.IsSearchResult && Model.SearchResults != null && Model.SearchResults.Count != 0)
        {
            foreach (var post in Model.SearchResults)
            {
                if (linesCounter % 2 == 0)
                {
                    @:<div class="row">
                }
                     <div class="col-sm-6">
                         <article class="linkbox cat-sports">
                             <a href="~/@post.Slug" class="cuprum-regular">
                                 @Html.Image(x => post.MainArticlePic.Resized400Picture, "Alt responsive picture", "265", "160", new { @class = "img-responsive" })

                                 <div class="overlay">
                                     <h3 class="cuprum-regular">@post.Title</h3>
                                 </div>
                             </a>
                             <a href="/Categories/Show/@post.Category.Slug" class="theme cuprum-regular">@post.Category.Title</a>
                         </article>
                         @*@Html.Partial("~/Views/Shared/Partials/_RatingStars.cshtml", post)*@
                     </div>

                if (linesCounter % 2 != 0)
                {
                    @:</div>
                }

                linesCounter++;
            }
        }
        else
        {
            var counter = 0;

            if (Model.NewestPostsAndCategories != null && Model.NewestPostsAndCategories.Count > 0)
            {

                foreach (var categoryAndPosts in Model.NewestPostsAndCategories)
                {
                    var postsCount = categoryAndPosts.Posts.Count();
                    var isMainPost = true;
                    var count = 3;

                    switch (postsCount)
                    {
                        case 3:
                        case 4:
                            postsCount = 3;
                            break;
                        case 5:
                            postsCount = 5;
                            break;

                        default:
                            continue;
                    }

                <div class="row">
                    @for (var i = 0; i < postsCount; i += 1)
                    {
                        var post = categoryAndPosts.Posts[i];
                        if (isMainPost)
                        {
                            isMainPost = false;
                            <article class="linkbox large cat-news">
                                <a href="/@post.Slug" class="cuprum-regular">
                                    @Html.Image(x => post.MainArticlePic.Resized400Picture, "Alt responsive picture", "560", "300", new { @class = "img-responsive" })
                                    <div class="overlay">
                                        <h2 class="cuprum-regular">@Html.Raw(post.SanitizedTitle)</h2>
                                    </div>
                                </a>
                                <a href="/Categories/Show/@post.Category.Slug" class="theme cuprum-regular">@post.Category.Title</a>
                            </article>
                        }
                        else
                        {

                            <div class="col-sm-6 small-articles">
                                <article class="linkbox cat-sports">
                                    <a href="~/@post.Slug" class="cuprum-regular">
                                        @Html.Image(x => post.MainArticlePic.Resized400Picture, "Alt responsive picture", "265", "160", new { @class = "img-responsive" })

                                        <div class="overlay">
                                            <h3 class="cuprum-regular">@Html.Raw(post.SanitizedTitle)</h3>
                                        </div>
                                    </a>
                                    <a href="/Categories/Show/@post.Category.Slug" class="theme cuprum-regular">@post.Category.Title</a>
                                </article>
                                @*@Html.Partial("~/Views/Shared/Partials/_RatingStars.cshtml", post)*@
                            </div>
                        }
                    }

                </div>
                }

            }
        }

        @if (Model.MostCommentedPosts != null && Model.MostCommentedPosts.Count >= 4)
        {
            <section class="section-full top-padding cat-reviews news-layout news-lay-2">
                <header>
                    <h2>Най-коментирани статии</h2>
                    <span class="borderline"></span>
                </header>
                <div class="row">
                    @for (int i = 0; i < 4; i++)
                {
                    var current = Model.MostCommentedPosts[i];

                        <div class="col-xs-6 col-sm-3">
                            <article class="review">
                                <a href="/@current.Slug">
                                    @Html.Image(x => current.MainArticlePic.Resized400Picture, "Alt responsive picture", "120", "105", new { @class = "img-responsive" })
                                    <h3 class="cuprum-regular">@Html.Raw(current.Title)</h3>
                                </a>

                                @*@Html.Partial("~/Views/Shared/Partials/_RatingStars.cshtml", current)*@

                            </article>
                        </div>
                    }
                </div>
            </section>
        }
    </div>

    <div class="col-md-3">
        <section class="section-news news-layout">
            <header>
                <h2>
                    <a href="#">Последни новини</a>
                </h2>
                <span class="borderline"></span>
            </header>
            <div class="row">
                @if (Model.HighRatedPosts != null && Model.HighRatedPosts.Count != 0)
                {
                    foreach (var post in Model.HighRatedPosts)
                    {
                        <div class="col-xs-4 col-sm-12">
                            <article>
                                <h3>@(Html.ActionLink<ArticlesController>(post.Title, x => x.Show(post.Slug)))</h3>
                                <span class="published">@Html.DisplayFor(x => post.CreatedOn)</span>
                                <span class="text partial-text">@Html.Raw(@post.SanitizedPartialContent)</span>
                            </article>
                        </div>
                    }
                }
            </div>
        </section>


        <div class="ad">
            <a href=""><img src="~/Content/Theme/images/dummy/banner_160x600.png" width="160" height="600" alt=""></a>
        </div>

        @if (Model.MostCommentedPosts != null && Model.MostCommentedPosts.Count != 0)
        {
            <section class="news-layout">
                <header>
                    <h2>Най-коментирани</h2>
                    <span class="borderline"></span>
                </header>
                <div class="row">
                    @foreach (var post in Model.MostCommentedPosts)
                {
                        <div class="col-xs-4 col-sm-12">
                            <article>
                                <h3>@(Html.ActionLink<ArticlesController>(post.Title, x => x.Show(post.Slug)))</h3>
                                <span class="text">@Html.Raw(@post.SanitizedPartialContent)</span>
                                <span class="published">@Html.DisplayFor(x => post.CreatedOn)</span>
                            </article>
                        </div>
                    }
                </div>
            </section>
        }
    </div>


    @{
        string controllerActionUrl = string.Empty;
        string action = string.Empty;
        string controller = string.Empty;
    }
    @if (Model.IsSearchResult)
    {
        controllerActionUrl = "/Search/Articles";
        action = "Articles";
        controller = "Search";
    }
    else
    {
        controllerActionUrl = "/Home/Index";
        action = "Index";
        controller = "Home";
    }
</div>
<div class="row">
    <nav id="home-pagination-nav">
        <ul class="pagination">
            @if (Model.CurrentPage != 1)
            {
                <li>
                    <a href="@controllerActionUrl?query=@Model.Query&page=@(Model.CurrentPage - 1)&pageSize=@Model.PageSize" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = Model.DisplayPageFrom; i <= Model.DisplayPageTo; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className">@Html.ActionLink(i.ToString(), action, controller, new { query = Model.Query, page = i, pageSize = Model.PageSize }, null)</li>
            }
            @if (Model.DisplayPageTo != Model.TotalPages)
            {
                <li>
                    <a href="@controllerActionUrl?query=@Model.Query&page=@(Model.CurrentPage + 1)&pageSize=@Model.PageSize" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>



@section scripts {
    @Scripts.Render("~/Scripts/Custom/ratingScript.js")
}