@model Uspelite.Web.Areas.Management.Models.ManageArticleViewModel

<div>
    @Html.LabelFor(x => x.Title)
    @Html.EditorFor(x => x.Title)
</div>

<div>
    @Html.LabelFor(x => x.Category)
    @Html.EditorFor(x => x.Category)
</div>

<div>
    @Html.LabelFor(x => x.ArticlePlaceType)
    @Html.EditorFor(x => x.ArticlePlaceType)
</div>

<div>
    @Html.LabelFor(x => x.ArticleStatus)
    @Html.EditorFor(x => x.ArticleStatus)
</div>
