@model Uspelite.Web.Models.Home.ArticleViewModel

@{
    ViewBag.Title = "Posts";
}

@section sidebar{
    @(Html.Action<ChildActionsController>(x => x.GetSideBar()))
}


<!-- start:article-post -->
<article id="article-post" class="cat-sports">

    <div class="head-image thumb-wrap relative">
        <a href="article-sport.php">@Html.Image(x => Model.MainArticlePic.Url, "Alt responsive picture", "770", "470", new { @class = "img-responsive" })</a>
        <a href="#" class="theme">@Model.Category</a>
    </div>

    <header>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Todo history how you get there</a></li>
            <li class="active">Football</li>
        </ol>
        <h1>@Model.Title</h1>
    </header>
    <p>
        @Model.PartialContent
    </p>

    <blockquote>
        <p>Цитатите са направени да изглеждат странотно, може да се добавя опционален</p>
        <footer>Marilyn Monroe</footer>
    </blockquote>

    <!-- start:article footer -->
    <footer>
        <h3>Share this article</h3>

        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
        <a href=""><i class="fa fa-facebook-square fa-lg"></i></a>
        <a href=""><i class="fa fa-linkedin-square fa-lg"></i></a>
        <a href=""><i class="fa fa-google-plus-square fa-lg"></i></a>
        <a href=""><i class="fa fa-vimeo-square fa-lg"></i></a>
        <a href=""><i class="fa fa-youtube fa-lg"></i></a>

        <!-- start:article author-box -->
        <div class="author-box">
            <img src="~/Content/Theme/images/dummy/115x115.jpg" width="115" height="115" alt="" class="img-circle">
            <p class="name">AUTHOR NAME HERE</p>
            <p>In pretium tempor consequat. Mauris varius, ligula non commodo interdum, dolor velit faucibus risus, vel mattis nibh nunc cursus ipsum. Vestibulum sed erat eget libero gravida auctor. Vivamus et elit sollicitudin, condimentum.</p>
        </div>
        <!-- end:article author-box -->
    </footer>
    <!-- end:article footer -->
</article>
<!-- end:article-post -->
<!-- start:related-posts -->
<section class="news-lay-3 bottom-margin">

    <header>
        <h2><a href="#">Related posts</a></h2>
        <span class="borderline"></span>
    </header>

    <!-- start:row -->
    <div class="row">

        <!-- start:article -->
        <article class="col-md-4 cat-sports">

            <div class="thumb-wrap relative">
                <a href="#"><img src="~/Content/Theme/images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive"></a>
                <a href="#" class="theme">
                    Sport
                </a>
            </div>
            <span class="published">February 18, 2014</span>
            <h3><a href="#">A wonderful serenity has taken possession of my entire soul</a></h3>

        </article>
        <!-- end:article -->
        <!-- start:article -->
        <article class="col-md-4 cat-sports">

            <div class="thumb-wrap relative">
                <a href="#"><img src="~/Content/Theme/images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive"></a>
                <a href="#" class="theme">
                    Sport
                </a>
            </div>
            <span class="published">February 18, 2014</span>
            <h3><a href="#">Rebekah Brooks takes stand, denies phone hacking</a></h3>

        </article>
        <!-- end:article -->
        <!-- start:article -->
        <article class="col-md-4 cat-sports">

            <div class="thumb-wrap relative">
                <a href="#"><img src="~/Content/Theme/images/dummy/265x160.jpg" width="265" height="160" alt="Responsive image" class="img-responsive"></a>
                <a href="#" class="theme">
                    Sport
                </a>
            </div>
            <span class="published">February 18, 2014</span>
            <h3><a href="#">Maecenas in egestas ligula, eu feugiat</a></h3>

        </article>
        <!-- end:article -->

    </div>
    <!-- end:row -->

</section>
<!-- end:related-posts -->
<!-- start:article-comments -->
<section id="article-comments">

    <header>
        <h2><a href="#">5 comments</a></h2>
        <span class="borderline"></span>
    </header>

    <!-- start:comments-list -->
    <ol id="comments-list">
        <li>
            <div class="comment">
                <a href="#" class="user-avatar">
                    <img src="~/Content/Theme/images/dummy/75x75.jpg" alt="" title="" class="img-circle">
                </a>
                <div class="comment-text">
                    <header>
                        <h5 class="pull-left"><a href="#">Lorena Christiansen</a></h5>
                        <span class="time-stamp">20 September, 2013, 21:00</span>
                        <a href="#" class="reply pull-right">Reply</a>
                    </header>
                    <p>Ut case complectitur sit. Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. In per perfecto suscipiantur. Eos ad admodum detraxit oportere. Id exerci vivendum ius, has wisi omittam ei, est an eros argumentum scriptorem.</p>
                </div>
            </div>
            <ul>
                <li>
                    <div class="comment">
                        <a href="#" class="user-avatar">
                            <img src="~/Content/Theme/images/dummy/75x75.jpg" alt="" title="" class="img-circle">
                        </a>
                        <div class="comment-text">
                            <header>
                                <h5 class="pull-left"><a href="#">Marc Christiansen</a></h5>
                                <span class="time-stamp">20 September, 2013, 21:00</span>
                                <a href="#" class="reply pull-right">Reply</a>
                            </header>
                            <p>Ut case complectitur sit. Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. In per perfecto suscipiantur.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment">
                <a href="#" class="user-avatar">
                    <img src="~/Content/Theme/images/dummy/75x75.jpg" alt="" title="" class="img-circle">
                </a>
                <div class="comment-text">
                    <header>
                        <h5 class="pull-left"><a href="#">Lorena Christiansen</a></h5>
                        <span class="time-stamp">20 September, 2013, 21:00</span>
                        <a href="#" class="reply pull-right">Reply</a>
                    </header>
                    <p>Ut case complectitur sit. Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. In per perfecto suscipiantur. Eos ad admodum detraxit oportere.</p>
                </div>
            </div>
            <ul>
                <li>
                    <div class="comment author-comment">
                        <a href="#" class="user-avatar">
                            <img src="~/Content/Theme/images/dummy/75x75.jpg" alt="" title="" class="img-circle">
                        </a>
                        <div class="comment-text">
                            <header>
                                <h5 class="pull-left"><a href="#">Michael Jonathan Doe</a></h5>
                                <span class="time-stamp">20 September, 2013, 21:00</span>
                                <a href="#" class="reply pull-right">Reply</a>
                            </header>
                            <p>Ut case complectitur sit. Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. I</p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment">
                <a href="#" class="user-avatar">
                    <img src="~/Content/Theme/images/dummy/75x75.jpg" alt="" title="" class="img-circle">
                </a>
                <div class="comment-text">
                    <header>
                        <h5 class="pull-left"><a href="#">Lorena Christiansen</a></h5>
                        <span class="time-stamp">20 September, 2013, 21:00</span>
                        <a href="#" class="reply pull-right">Reply</a>
                    </header>
                    <p>Ut case complectitur sit. Cum sumo movet necessitatibus et, no sale invidunt usu, ad vix semper latine consectetuer. In per perfecto suscipiantur. Eos ad admodum detraxit oportere. Id exerci vivendum ius, has wisi omittam ei, est an eros argumentum scriptorem.</p>
                </div>
            </div>
        </li>
    </ol>
    <!-- end:comments-list -->

</section>
<!-- end:article-comments -->
<!-- start:article-comments-form -->
<section id="article-comments-form">

    <header>
        <h2><a href="#">Leave a comment</a></h2>
        <span class="borderline"></span>
    </header>

    <!-- start:form -->
    <form role="form">

        <!-- start:row -->
        <div class="row bottom-margin">

            <!-- start:col -->
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Your name">
            </div>
            <!-- end:col -->
            <!-- start:col -->
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="E-mail adress">
            </div>
            <!-- end:col -->
            <!-- start:col -->
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Website">
            </div>
            <!-- end:col -->

        </div>
        <!-- end:row -->
        <!-- start:row -->
        <div class="row bottom-margin">

            <!-- start:col -->
            <div class="col-md-12">
                <textarea class="form-control" placeholder="Website" rows="5"></textarea>
            </div>
            <!-- end:col -->

        </div>
        <!-- end:row -->
        <!-- start:load-more -->
        <div>
            <a href="#" class="show-more cat-sports" title="Post comment">Post comment</a>
        </div>
        <!-- end:load-more -->

    </form>
    <!-- end:form -->


</section>
<!-- end:article-comments-form -->