@model Uspelite.Web.Models.Articles.ArticlesBindingModel


<div class="well bs-component">
    <fieldset>
        <h2>Добавяне на статия</h2>

        <br/>

        <div class="form-group">
            @Html.LabelFor(x => x.Title, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Slug, new {@class = "col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.TextBoxFor(x => x.Slug, new { @class = "form-control"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.CategoryId, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DropDownListFor(x => x.CategoryId, (IEnumerable<SelectListItem>)ViewBag.categories, new { id = "select", @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.Content, new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @(Html.Kendo()
                            .EditorFor(x => x.Content)
                            .Name("Content")
                            .Resizable(resizable => resizable.Content(true).Toolbar(true)))
            </div>
        </div>
    </fieldset>
</div>